<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog | add comment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom styles for this template -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link href="forms.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:fragment="" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/posts}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Python</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://github.com/PawelSzczerbiak" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://github.com/PawelSzczerbiak/SmoG">SmoG</a>
                        <a class="dropdown-item" href="http://pszczerbiak.pythonanywhere.com/">Carclassifier</a>
                        <a class="dropdown-item" href="http://pskwejk.herokuapp.com/">Kwejk</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
            <form th:if="${name}=='logout'" th:action="@{/register}">
                <button class="btn btn-outline-info my-2 my-sm-0 mr-sm-1" type="submit">Sign up</button>
            </form>
            <form  th:if="${name}=='logout'" th:action="@{/login}">
                <button class="btn btn-outline-warning my-2 my-sm-0">Log in</button>
            </form>
            <form  th:if="${name}!='logout'" th:action="@{/logout}">
                <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container mt-4 text-center">

            <div  th:if="${name}=='logout'" class="my-5">
                <a th:href="@{/login}">Log in</a>
                <span> to add a comment</span>
            </div>

        <div class="col-md-8 blog-main">

        <form th:if="${name}!='logout'" th:action="@{/postCommentAdd}" th:method="post" th:object="${postCommentForm}">
            <h1 class="h3 mb-3 font-weight-normal">Comment form</h1>
            <input class="form-control" th:field="*{userId}" hidden>
            <input class="form-control" th:field="*{postId}" hidden>
            <textarea class="form-control" th:field="*{comment}" placeholder="Content" required autofocus></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>