<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog | posts</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom styles for this template -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/posts}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Java</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kotlin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Scala</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://github.com/PawelSzczerbiak" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="https://github.com/PawelSzczerbiak/SmoG">SmoG</a>
                        <a class="dropdown-item" href="http://pszczerbiak.pythonanywhere.com/">Carclassifier</a>
                        <a class="dropdown-item" href="http://pskwejk.herokuapp.com/">Kwejk</a>
                        <a class="dropdown-item" href="http://pslorem.herokuapp.com/">Lorem generator</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" th:action="@{/postsContentSearch}" th:method="get">
                <input class="form-control mr-sm-2" th:type="text" name="phrase" placeholder="Search" aria-label="Search">
            </form>
            <form th:if="${loggedUser} == null" th:action="@{/register}">
                <button class="btn btn-outline-info my-2 my-sm-0 mr-sm-1" type="submit">Sign up</button>
            </form>
            <form  th:if="${loggedUser} == null" th:action="@{/login}">
                <button class="btn btn-outline-warning my-2 my-sm-0">Log in</button>
            </form>
            <form  th:if="${loggedUser} != null" th:action="@{/logout}">
                <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>
            </form>
        </div>
    </nav>

    <main role="main" class="container mt-4">

        <div class="row">


            <div class="col-md-8 blog-main">

                <form th:if="${loggedUser} != null" th:href="@{/postAdd}" th:action="@{/postAdd}">
                    <button class="btn btn-outline-info float-right">Add post</a></button>
                </form>

                <h3 th:if="${#lists.isEmpty(posts)}" class="pb-3 mb-4">
                    Nothing found
                </h3>

                <div th:each="post : ${posts}" class="blog-post">
                    <h2 th:text="${post.title}" class="blog-post-title"></h2>
                    <p class="blog-post-meta">
                        <span th:text="${#dates.format(post.audit.created, 'yyyy-MM-dd')} + ' by '"/>
                        <a href="#"><span th:text="${post.user.username}"></span></a>
                    </p>
                    <div th:utext="${post.content}"></div>

                    <div class="my-4 ml-4 border-top">
                        <a th:if="${loggedUser} != null" class="mt-2 mb-2 float-right" th:href="@{'/postCommentAdd' + ${post.id}}">Add comment</a>
                        <p class="mt-2 mb-2 font-italic">Comments:</p>
                        <div th:each="comment : ${post.comments}">
                            <p class="blog-post-meta mb-1">
                                <span th:text="${#dates.format(comment.audit.created, 'yyyy-MM-dd')} + ' by '"/>
                                <a href="#"><span th:text="${comment.user.username}"></span></a>
                            </p>
                            <p th:utext="${comment.comment}"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="blog-footer">
        <p>&copy; AK & PS 2018</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>